html
  head
    title DHIS-Metadata
    link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-2.0.3.min.js')
    script(type='text/javascript', src='/javascripts/script.js')
  body
    select#dataSets
      option(value="" selected) select a dataset
      -for(var dataset in datasets)
        option(value="#{dataset}") #{datasets[dataset]}
    | &#x9;

    select#dataElements
    | &#x9;

    table#categoryOptions(cellpadding="5%")
    | &#x9;

